:root {
    --primary-color: #B54213;
    --secondary-color: #161616;
    --tertiary-color: #E47041;
    --quaternary-color: #EF7F4D;
}
.nav-bg{
    background-color: var(--primary-color);
    backdrop-filter: blur(5px);
}
.nav-link{
    color: var(--secondary-color);
}
.nav-link:hover{
    color: var(--tertiary-color);
}
.signin-button, .signup-button, .logout-button{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 5px;
}
.signin-button:hover, .signup-button:hover,.logout-button:hover{
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}
