:root {
    --primary-color: #B54213;
    --secondary-color: #161616;
    --tertiary-color: #E47041;
    --quaternary-color: #EF7F4D;
}
.nav-bg{
    background-color: var(--primary-color);
    backdrop-filter: blur(5px);
}